<div class="row justify-content-center">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Login</h2>

        <form action="">
          <div class="mb-3">
            <app-input></app-input>
          </div>
          <div class="mb-3">
            <app-input></app-input>
          </div>
          <div class="mb-3">
            <app-submit-book-button></app-submit-book-button>
          </div>
        </form>

        <p>Not account yet?
          <a href="#">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
