<!-- <ng-container *ngIf="currentCard">
<div class="card border-light" >
  <img  src="../../../assets/images/{{ currentCard.cardImg }}" class="card-img-top" alt="card image: buildings">
  <div class="card-body">
    <h5 class="card-title">{{ currentCard.cardTitle }}</h5>
    <h6 class="card-subtitle mb-3 text-muted">{{ currentCard.bookingDate }}</h6>
    <app-submit-book-button></app-submit-book-button>
  </div>
</div>
</ng-container> -->

<ng-container *ngIf="currentCard">
  <mat-card class="mat-elevation-z">
    <img mat-card-image src="../../../assets/images/{{ currentCard.cardImg }}" alt="card image: buildings">
    <mat-card-title>{{ currentCard.cardTitle }}</mat-card-title>
    <mat-card-subtitle>{{ currentCard.bookingDate }}</mat-card-subtitle>
    <mat-card-actions>
      <app-submit-book-button [btnText]="bookingBtnText" (click)="onBooking()"></app-submit-book-button>
    </mat-card-actions>
  </mat-card>
</ng-container>
