
<mat-card class="mat-elevation-z">
  <mat-card-header>
    <div mat-card-avatar class="avatar" (click)="showName()">
    </div>
    <div *ngIf="username">{{ username.username }}</div>
    <mat-card-title>Let's start a new trip!</mat-card-title>
  </mat-card-header>


  <div id="#carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let img of carouselImgs" class="carousel-item active">
        <img src="../../../assets/images/{{ img }}" class="d-block w-100" alt="carousel image: city">
      </div>
    </div>
    <button class="carousel-control-prev" type="button"
    data-bs-target="#carouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" hidden></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
          data-bs-target="#carouselIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" hidden></span>
          <span class="visually-hidden">Next</span>
          </button>
  </div>


</mat-card>
